.card {
    margin: 20px;
}

button {
    background-color: #2DA69A !important;
}

.nav-pills .nav-link.active {
    background-color: #2DA69A;
}

.midh1 {
    text-align: center;
}

.midp {
    text-align: center;
}

.nav-item {
    border-bottom: 2px solid transparent !important;
}

.nav-item:hover {
    border-bottom: 2px solid #2DA69A !important;
}

.alert {
    margin: 20px;
}

.midimg {
    text-align: center;
    margin-right: 3px;
}

.editava {
    color: lightskyblue;
}

.container {
    margin-bottom: 10px;
    margin-top: 10px;
}

.accordion-button {
    color: white !important;
}

.navbar-toggler {
    background-color: white !important;
}

.btn-close {
    background-color: white !important;
}

.close {
    background-color: transparent !important;
    float: right;
    border: none;
}